# Java / Maven
target/
*.class
*.jar
*.war

# IntelliJ IDEA
.idea/
*.iml
out/

# OS files
.DS_Store

# Logs
*.log

# Environment files
.env
# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
